/* Write your CSS here */
.bg-container {
  min-width: 100vb;
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.heading {
  color: #1e293b;
  font-size: 18px;
}
.tag-line-heading {
  color: #171f46;
}
.time-line-card-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
